//
   Created by Mauro-pc on 26/11/2016.
extends ./layout.jade

block contenido
    h1 Bienvenidos al gestor de imagenes
    a(href="/login" class="btn btn-default btn-lg active") Iniciar Sesión
    a(href="/singup" class="btn btn-default btn-lg active") Registro Usuario
